main {
  margin: 0 auto;
  width: 1440px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: 'Special Elite', cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: 'Special Elite', cursive;
  font-size: 18px;
}

main p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  font-size: 20px;
}

.group {
  margin: 100px;
  display: flex;
}

.group-one div {
  margin-right: 20px;
  flex: 1;
}

.group-one img {
  flex: 3;
}

.group-two div {
  flex: 1;
  padding: 10px;
  position: relative;
}

.group-three {
  height: 200px;
  /* width: 100%; */
  background-color: #654321;
  justify-content: space-around;
}

/* Group Three */
.group-three img {
  width: 250px;
  padding: 10px;
}
